<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" 
            xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<head>
<meta charset="utf-8" />
<title>Authentication</title>
<link rel="stylesheet" type="text/css"  href="../static/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}"/>
  <link rel="stylesheet" type="text/css"  href="../static/css/style.css" th:href="@{css/style.css}"/>
</head>
<body>
	<div class="col-md-4 col-md-offset-4 spacer">
		<div class="panel panel-primary">
			<div class="panel panel-heading">Login</div>
			<div class="panel-body">
                  
                <div th:if="${param.error}" class="red">
                   Incorect Username and password !!
                </div>   
                 <div th:if="${param.logout}" class="red">
                   succefully Logout!!
                </div>       

				<form th:action="@{/login}" method="post">
					<div>
						<label>Username</label> <input type="text" name="username" />
					</div>
					<div>
						<label>Password</label> <input type="text" name="password" />
					</div>
					<div>
						<button type="submit">Login</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>